body {
    background: #ECEFF1;
    background: #cfae82;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0%;
    padding: 0%;
}


/*###########################################################*
/* Disenio de los cuadros de texto e informacion*/

.cuadro {
    background: white;
    max-width: 94%;
    margin: 33px auto 16px;
    padding: 42px 24px;
    border-radius: 13px;
}

.cuadro h2 {
    color: #44454b;
    font-weight: bold;
    font-size: 160%;
    margin: 0 0 8px;
}

.cuadro h1 {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
}

.cuadro p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 20px;
}

.cuadro a {
    display: block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

.cuadro,
.cuadro a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


/*###########################################################*/

.txt_Centro {
    text-align: center;
}

.T_real h2 {
    font-size: 25px;
}

.T_real p {
    font-size: 100px;
}

#load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}

#img_tit {
    right: 15%;
    top: 130px;
    position: absolute;
    z-index: 1;
    width: 15%;
}

#txt_tit {
    position: relative;
    z-index: 2;
    top: 100px;
    margin: 0% 0% 0% 10%;
    font-size: 120px;
    font-weight: 250px;
    font-family: Brush Script MT;
    color: black;
}


/*###########################################################*/


/* CLASES PARA SIMULAR UNA TABLA */

.tabla {
    display: table;
    width: 100%;
}

.fila {
    display: table-row;
}

.columna {
    display: table-cell;
    padding: 3%;
}


/*###########################################################*/

header {
    border-bottom-style: groove;
    border-bottom-color: rgba(70, 70, 70, 0.164);
    background: rgba(255, 255, 255, 0.726);
    padding: 0%;
    position: sticky;
    top: 0px;
    z-index: 6;
}

header pre {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0% 20% 0% 0%;
    color: black;
    font-size: 20px;
    margin: 0%;
}

header .columna {
    width: 16.6%;
    padding: 0%;
}

header .columna .mayo {
    width: 33.2%;
    padding: 0%;
}

header img {
    padding: 0.5% 3%;
    margin: 0%;
}

footer {
    border-top-style: groove;
    border-top-color: rgba(70, 70, 70, 0.164);
    background: white;
}

.fot_detr {
    position: absolute;
    z-index: 1;
    right: 0.5%;
    top: 30%;
}

.aplicaciones {
    font-size: 50px;
}